:host {
  .wrapper {
    background-image: url('/assets/cool-background.png');
    background-repeat: no-repeat;
    background-size: 110%;
    padding: 50px 100px;
    overflow: auto;
    height: 100vh;
    display: flex;
    .tile {
      height: 100px;
      width: 100px;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: white;
    }

    .tile[title='1'] {
      order: 3;
    }
    .tile[title='7'] {
      order: 1;
    }
    .tile[title='2'] {
      flex-grow: 4;
    }
  }
}


