<div class="wrapper">

  <div class="header">
    <div class="action">
      <button>yes</button>
      <button>no</button>
    </div>
    <div class="username">yonatan</div>

  </div>
  <div class="nav-bar">
    <div class="link">link-1</div>
    <div class="link">link-2</div>
    <div class="link">link-3</div>
    <div class="link">link-4</div>
    <div class="link">link-5</div>
    <div class="link">link-6</div>
    <div class="link">link-7</div>

  </div>
  <div class="body">
    <div class="img">
      <img src="/assets/img/spider-man.png" alt="">
    </div>
    <div class="text1">
      Throughout his time in the Spider-Man suit, Tom Holland has got to shoot some spectacular stuff – rubbing
      shoulders with the Avengers in Captain America: Civil War’s epic airport fight, spending plenty of time with Tony
      Stark in Spider-Man: Homecoming, and playing a significant part in the fightback against Thanos in Avengers:
      Infinity War and Endgame. But in the upcoming Spider-Man: No Way Home, the actor tells Empire that he filmed “one
      of the coolest scenes I’ve ever shot” – a sequence including a character he wasn’t at liberty to divulge.

      What he could say is that the scene features his Peter Parker, Marisa Tomei’s Aunt May, and Jon Favreau’s Happy
      Hogan – along with a mystery fourth character. “It’s four people sitting at a table, having a conversation about
      what it’s like to be a superhero, and it was amazing,” Holland tells Empire. “The other day we watched the scene,
      my brother and I, and our jaws were on the floor.” Cue all the speculation about who that fourth chair belongs to.
      Could it be another Avenger, joining the already-confirmed Doctor Strange? Or might it hint at the long-rumoured
      crossover between Holland’s Peter Parker, and those played by Andrew Garfield and Tobey Maguire in previous
      big-screen live-action iterations of Spider-Man?
    </div>
    <div class="text2">
      Throughout his time in the Spider-Man suit, Tom Holland has got to shoot some spectacular stuff – rubbing
      shoulders with the Avengers in Captain America: Civil War’s epic airport fight, spending plenty of time with Tony
      Stark in Spider-Man: Homecoming, and playing a significant part in the fightback against Thanos in Avengers:
      Infinity War and Endgame. But in the upcoming Spider-Man: No Way Home, the actor tells Empire that he filmed “one
      of the coolest scenes I’ve ever shot” – a sequence including a character he wasn’t at liberty to divulge.

      What he could say is that the scene features his Peter Parker, Marisa Tomei’s Aunt May, and Jon Favreau’s Happy
      Hogan – along with a mystery fourth character. “It’s four people sitting at a table, having a conversation about
      what it’s like to be a superhero, and it was amazing,” Holland tells Empire. “The other day we watched the scene,
      my brother and I, and our jaws were on the floor.” Cue all the speculation about who that fourth chair belongs to.
      Could it be another Avenger, joining the already-confirmed Doctor Strange? Or might it hint at the long-rumoured
      crossover between Holland’s Peter Parker, and those played by Andrew Garfield and Tobey Maguire in previous
      big-screen live-action iterations of Spider-Man?
    </div>
  </div>
  <div class="footer">
    e-square.io @@@

  </div>

</div>
