@import "mixin";
@import "media";
.toolbar{
    display: flex;
    justify-content: space-between;

}
.body{
  display: grid;
  grid-template-columns: times8(10) 1fr;
  min-height: 80vh;
  .side-bar{
    background: $dark-color;
    button{
    color: white;

    }
  }
}

