/* You can add global styles to this file, and also import other style files */
@import "grid";
@import "media";
@import "theme";
@import "fonts";
@import "global";
@import "animation";

html,
body {
  height: 100%;
}

body {
  background: $main-gray;
}
